---
import "@fontsource/fira-code";
import "../styles/global.css";
import { getImage } from "astro:assets";
import ProfilePicture from "../assets/profile.jpg";

const { title } = Astro.props;
const optimizedFavicon = await getImage({
  src: ProfilePicture,
  format: "png",
  width: 32,
  height: 32,
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={optimizedFavicon.src} />
    <title>{title}</title>
  </head>
  <body class="h-screen w-screen flex justify-center items-center ">
    <main class="w-full max-w-7xl h-full md:h-[90vh] flex flex-col md:flex-row
                 bg-onedark-bg border border-onedark-border overflow-auto">
      <slot />
    </main>
  </body>
</html>
